:local(.root) {
  margin: 0 !important;
  overflow: hidden;
  background-color: #ebebeb;
  padding: 10px;
  height:100vh;
    display: flex;
    flex-direction: column;
  
}
:local(.content){
  background-color: #ebebeb;
  box-shadow:  0 0 1em rgba(50, 50, 50, 0.77), 0 0 1em #ebebeb;      
  border: 0.5px;
  width: 700px;
  padding: 10px;
  min-width: 50px;
  margin: 0 auto;  
}
:local(.textAccount){
  margin-top: 30px;
  font-size: 15px;
  color: #1d4459;
  font-family: "Arial";
  font-weight: bold;
  text-align: center;
}
:local(.textLink){
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Arial";
  font-weight: bold;
  text-align: center;
  text-decoration:none; 
}
:local(.contentWallet){
  width: 500px;
}
:local(.textWallet){
  font-size: 18px;
  color: #1d4459;
  font-family: "Arial";
}
:local(.textWalletLine){
  font-size: 16px;
  color: #1d4459;
  font-family: "Arial";
}
:local(.textWalletCopy){
  font-size: 16px;
  color: #1f7995;
  cursor: pointer;
  font-family: "Arial";
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  text-decoration:none; 
}
:local(.textWalletTrasaction){
  font-size: 19px;
  color: #1f7995;
  font-family: "Arial";
}
@media only screen and (max-width: 768px) {
  :local(.content){
    background-color: #ebebeb;
    box-shadow:  0 0 1em rgba(50, 50, 50, 0.77), 0 0 1em #ebebeb;      
    border: 0.5px;
    width: auto;
    padding: 10px;
    min-width: 50px;
    margin: 0 auto;  
  }
}