:local(.App) {
  text-align: center;
}

:local(.AppLogo) {
  font-size: 50px;
  color: #ffffff;
  font-family: "Arial";
}
:local(.AppP) {
  display: flex;
  font-size: 25px;
  color: #ffffff;
  font-family: "Arial";
}
:local(.AppButtom) {
  background: transparent;
  border: none;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  width: 234px;
  height: 62px;
  border-radius: 10px;
  background-color: #d1071e;
  margin-bottom: 20px;
}
:local(.AppRodmap){
  width: 100%;
}
:local(.AppHeader) {
  background-color: #00be8e;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-items: center;
  justify-content: center;
}

:local(.App-link) {
  color: #61dafb;
}

:local(.AppButtom:hover) {
  opacity: 0.8;
  cursor: pointer;
}
:local(.AppFoot){
  background-color: #f0f1f8;
  min-height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
